USE [master]
GO
/****** Object:  Database [ConcessionariaII]    Script Date: 26/05/2019 01:54:46 ******/
CREATE DATABASE [ConcessionariaII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConcessionariaII', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER1\MSSQL\DATA\ConcessionariaII.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConcessionariaII_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER1\MSSQL\DATA\ConcessionariaII_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConcessionariaII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConcessionariaII]
GO
/****** Object:  Table [dbo].[Ano]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ano](
	[DtAno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DtAno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](100) NOT NULL,
	[SalBase] [decimal](9, 2) NOT NULL,
	[Status] [char](1) NULL,
	[Obs] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[CNH] [varchar](11) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[Cidade] [varchar](50) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[NroConta] [varchar](12) NOT NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combustivel]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combustivel](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fabricante]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabricante](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[RazaoSocial] [varchar](150) NOT NULL,
	[NomeFantasia] [varchar](150) NOT NULL,
	[CNPJ] [varchar](18) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[Cidade] [varchar](50) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[NroConta] [varchar](12) NOT NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[Cidade] [varchar](50) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[Telefone] [varchar](14) NOT NULL,
	[NroConta] [varchar](12) NOT NULL,
	[Cargo] [int] NOT NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Senha] [varchar](15) NOT NULL,
	[Funcionario] [int] NULL,
	[Status] [char](1) NULL,
	[Perfil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[Obs] [varchar](150) NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ocultar] [char](1) NULL,
	[Usuario] [char](1) NULL,
	[UsuarioI] [char](1) NULL,
	[UsuarioA] [char](1) NULL,
	[UsuarioE] [char](1) NULL,
	[Perfil] [char](1) NULL,
	[PerfilI] [char](1) NULL,
	[PerfilA] [char](1) NULL,
	[PerfilE] [char](1) NULL,
	[Venda] [char](1) NULL,
	[VendaI] [char](1) NULL,
	[VendaA] [char](1) NULL,
	[VendaE] [char](1) NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veiculo]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculo](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [int] NULL,
	[Fabricante] [int] NOT NULL,
	[Modelo] [int] NOT NULL,
	[Combustivel] [int] NOT NULL,
	[Valor] [decimal](9, 2) NOT NULL,
	[Cor] [varchar](25) NOT NULL,
	[Km] [decimal](9, 3) NOT NULL,
	[Status] [char](1) NULL,
	[Docum] [char](1) NULL,
	[Placa] [varchar](8) NOT NULL,
	[Ano] [int] NOT NULL,
	[TpVei] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [int] NULL,
	[Funcionario] [int] NULL,
	[DtVen] [datetime] NULL,
	[ValTotal] [decimal](9, 2) NULL,
	[QtdParcela] [int] NULL,
	[Status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda_Itens]    Script Date: 26/05/2019 01:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda_Itens](
	[Venda] [int] NOT NULL,
	[Veiculo] [int] NOT NULL,
	[ValTotVei] [decimal](9, 2) NULL,
	[DescUnit] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Venda] ASC,
	[Veiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD FOREIGN KEY([Cargo])
REFERENCES [dbo].[Cargo] ([Codigo])
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([Funcionario])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([Perfil])
REFERENCES [dbo].[Perfil] ([Codigo])
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD FOREIGN KEY([Cliente])
REFERENCES [dbo].[Cliente] ([Codigo])
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD FOREIGN KEY([Combustivel])
REFERENCES [dbo].[Combustivel] ([Codigo])
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD FOREIGN KEY([Fabricante])
REFERENCES [dbo].[Fabricante] ([Codigo])
GO
ALTER TABLE [dbo].[Veiculo]  WITH CHECK ADD FOREIGN KEY([Modelo])
REFERENCES [dbo].[Modelo] ([Codigo])
GO
USE [master]
GO
